<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Recupera tu contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">

  <form #miformulario="ngForm" (ngSubmit)="onSubmit()" >
    <ion-card class="ion-padding" class="flex-center">
      <ion-card-header>
        <ion-card-title style="font-weight: 1000;">Ingresa Usuario</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label  position="floating">Usuario</ion-label>
        <ion-input required name="username"></ion-input>
      </ion-item>
  
        <ion-button (click)="presentAlert()" expand="block" class="ion-margin-top" type="submit" [disabled]="miformulario.invalid" >
          INGRESAR
        </ion-button>

    </ion-card>

  </form>
  
</ion-content>